body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

h2, h4 {
    text-align: center;
}
h4{

    margin-bottom: 5px;
}

.container {
    text-align: center;
    margin-bottom: 20px;
}

.header {
    width: 170%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
    padding-left: 31%;
}

.search-icon {
    width: 20px; 
    height: 20px; 
}

.form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="time"],
.form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
}

.form input[type="submit"]:hover {
    background-color: #45a049;
}
.filter{
    margin-bottom: 20px;
}

.filter input[type="button"] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.filter input[type="button"]:hover {
    background-color: #45a049;
}
.task{
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}
/* .task-icon{
    display: block;
    margin: 0 auto;
} */
.btn-group{
    display: flex;
    gap: 5px
}
button{
    flex-grow: 1;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
}
.btn-edit{
    background-color: #4caf50;
}
.btn-delete{
    background-color: red;
}
.btn-comp{
    background-color: blue;
}