body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

h2, h4 {
    text-align: center;
}
h4{

    margin-bottom: 5px;
}

.container {
    text-align: center;
    margin: 0 0 20px 0;
    width: 80%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
    padding-left: 41%;
}

.search-icon {
    width: 20px; 
    height: 20px; 
}

.form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="time"],
.form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
}

.form input[type="submit"]:hover {
    background-color: #45a049;
}
.filter{
    margin-bottom: 20px;
    display: block;
    margin-left: 32%;
}

.filter input[type="button"] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.filter input[type="button"]:hover {
    background-color: #45a049;
}
.task-group{
    display: flex;
    gap : 20px;
    flex-wrap: wrap;
    margin-left: 5%;
}
.tasks{
    border: 1px solid black;
    width: 30%;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 30px;
  
}
.img-group{
    margin: 0 25%;
}
/* .task-icon{
    display: block;
    margin: 0 auto;
} */
.btn-group{
    display: flex;
    gap: 5px
}
button{
    flex-grow: 1;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
}
.btn-edit{
    background-color: #4caf50;
}
.btn-edit:hover {
    background-color: #45a049;
}
.btn-delete{
    background-color: red;
}
.btn-delete:hover {
    background-color: #ff6666;
}
.btn-comp{
    background-color: blue;
}
.btn-comp:hover {
    background-color: #2d353c;
}
.error {
    border: 1px solid red;
}
.task-list{
    width: 98vmax;
}
@media (max-width: 767px) {
    
    p{
        text-align: center;
    }
    
    .header {
      flex-direction: column;
      padding-left: 0;
    }
    .search-icon{
        margin-right: 2%;
    }
    .search-area{
        width: 100%;
    }
    .task-group{
      flex-direction: column;
    }
    .tasks{
        width: 100%;
    }
    .img-group{
        margin: 0 38%;
    }
    .filter{
        margin-left: 10%;
    }
    .filter input[type="button"]{
        margin-bottom: 3%;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {

    .tasks{
        width: 45%;
    }
    .filter{
        margin-left: 18%;
    }
    .search-area{
        width: 49%;
    }
    .header{
        padding-left: 26%;
    }
  }